@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color : #34D399;
    --focus-text: tan;
    --off-white: #F8F0E3;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    background-color: #831843;
    color: var(--focus-text);
}
input,label{
    display: block;
    margin: 1.1rem auto;
}
h1{
    margin: 1rem auto;
}
label{
    margin-top: 1rem;
}
button{
    color: var(--focus-text);
    background: transparent;
    border: 1px solid var(--focus-text);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    max-width: 200px;
    cursor: pointer;
    font-size: 15px;
}
#output{
    font-size: larger;
    font-weight: bold;
    color: var(--focus-text);
}
img{
    width: 150px;
}
input{
    padding: 0.5rem;
    background: var(--focus-text);
    border-radius: 1rem;
    border: none;
    font-size: 17px;
    text-align: center;
}
#privacy{
    display: inline;
    margin: auto;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    font-size: 15px;
}
ul{
    padding-inline-start: 0;
}
.fab,.fas{
    font-size: 30px;
    color: var(--focus-text);
    margin: 0 0.5rem;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}